html {
    height: 100%;
    font-family: Raleway, sans-serif;
    text-shadow: 0px 1px var(--font-shadow-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bgcolor);
    color:var(--font-color);
    transition: 0.2s;
}

h2 {
    font-size: 18px;
}

input:focus, button:focus, select:focus {
    outline: none;
}

header {
    min-height: 60px;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 10px;
    padding: 5px;
    margin-top: 10px;
}

nav {
    border-bottom: 1px var(--font-color) dotted;
    position: fixed;
    left: 10px;
    right: 10px;
    background-color: var(--bgcolor);
}

nav h1 {
    font-size: 20px;
    text-align: center;
}

nav .nav-left {
    position: absolute;
    left: 10px;
    top: 10px;
}

nav .nav-right {
    position: absolute;
    right: 10px;
    top: 10px;
}

section {
    margin: 0 10px 10px 10px;
}

section.calltoaction {
    display: flex;
    justify-content: center;
}

section.calltoaction button {
    margin: 0 30px;
}

.theme-icon {
    background-image: var(--theme-icon);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
}

input[type=text], input[type=number] {
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px #ccc solid;
    width: 40px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    box-sizing: border-box;
    -moz-appearance: textfield;
}

.increment input::-webkit-outer-spin-button,
.increment input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.increment {
    position: relative;
    height: 40px;
    display: inline-block;
    width: 120px;
    border-radius: 5px;
    overflow: hidden;
}

.increment input {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.increment button {
    height: 100%;
    width: 40px;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top:0;
    min-width: 0;
    min-height: 0;
    border-radius: 0;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    padding: 0;
}

.increment button:first-of-type {
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.increment button:last-of-type {
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.increment input {
    position: absolute;
    top: 0;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.btn {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid  var(--primary-color);
    padding: 15px;
    min-width: 300px;
    min-height: 40px;
    background-color: transparent;
    color: var(--primary-color);
    text-shadow: inherit;
    font-family: inherit;
    text-transform:uppercase;
    font-weight: 800;
    transition: 0.15s;
}

.btn.inverse {
    background-color: var(--primary-color);
    color: var(--primary-inverse-color);
}

.btn.inverse:active:not(.disabled) {
    background-color: transparent;
    color: var(--primary-color);
}

.btn.small {
    min-width: 40px;
    min-height: 40px;
}

.btn:active:not(:disabled) {
    background-color: var(--primary-color);
    color: var(--primary-inverse-color);
    border: 1px solid var(--primary-color);
}

.btn.link {
    padding: 5px;
    background: none;
    border: none;
    font-weight: 600;
    color: var(--link-color);
}

.btn.link:active:not(.disabled) {
    opacity: 100%;
    color: var(--link-inverse-color); /* blue */ /* blue */
    background: none;
    border: none;
}

.btn:disabled {
    cursor: default;
    opacity: 20%;
}

.start-menu main {
    width: unset;
    margin: 0 auto 50px auto;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.separator {
    border-top: 1px var(--font-color) dotted;
    height: 1px;
    box-sizing: border-box;
    margin: 20px 10px;
}

.start-menu main div {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo h1 {
    font-family: 'Fredoka One';
    -webkit-text-stroke: 2px var(--font-color);
    -webkit-text-fill-color: var(--bgcolor);
}

.start-menu main .logo {
    flex-grow: 1;
    max-height: 50%;
    margin: 50px 0;                
    position: relative;
}

.start-menu main .logo h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.start-menu main .logo h2 {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
}

.categories {
    text-align: center;
}

.categories .topic-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories .topic-list li {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / 3) - 22px);
    height: calc(calc(100vw / 3) - 22px);
    max-width: 150px;
    max-height: 150px;
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--font-color);
    background-position: center;
    background-size: calc(100% - 40px) auto;
    background-repeat: no-repeat;
}

.categories .topic-list label {
    color: var(--font-color);
    font-size: 9px;
    text-transform:uppercase;
    cursor: pointer;
}

.categories .topic-list input {
    width: 100%;
    flex-grow: 1;
    margin: 0;
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
}

.categories .topic-list input:checked {
    background-color: var(--font-color);
    mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z'/></svg>");
    mask-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z'/></svg>");
}

.setup main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    max-width: 500px;
}

.setup .switch-container {
    display: flex;
    justify-content: space-between;
}

.setup main section {
    display: flex;
    justify-content: space-around;
}

.game main {
    margin: 50px auto 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.game main > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.game main > div section:first-child {
    flex-grow: 1;
}

.game main h1 {
    text-align: center;
}

.game #reveal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

 /* The switch - the box around the slider */
 .switch-container {
    line-height: 34px;
    margin: 10px;
 }

 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0px 0px 0px 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--highlight-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--highlight-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

