:root {
    --bgcolor: rgb(36, 36, 36);

    --font-color: rgb(132, 224, 255);
    --link-color: rgb(240, 240, 240);
    --link-inverse-color:rgb(132, 224, 255);

    --primary-color: transparent;
    --primary-inverse-color: rgb(132, 224, 255);

    --primary-alt-color:rgb(132, 224, 255);

    --primary-highlight-color: white;
}